@use './partials/mixins';
@use './partials/queries';

.navBar {
  @include mixins.flexBetween;
  background-color: #333;
  position: relative;
  color: white;
  padding: 1rem;
  @include queries.mobile {
    flex-direction: column;
    align-items: flex-start;
  }
}

.logo {
  font-size: 3rem;
}

.navBarLinks {
  ul {
    display: flex;
    li {
      display: block;
      margin-left: 1rem;
      a {
        color: white;
      }
    }
  }

  @include queries.mobile {
    display: none;
    ul {
      flex-direction: column;
      li {
        padding: 1rem 0;
        margin-left: inherit;
      }
    }
  }
}

.menu {
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  font-size: 2rem;
  @include queries.mobile {
    display: flex;
  }
}

.active {
  display: flex;
}
